{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
    "rules": {
      "quotes": ["error", "single"],
      "semi": ["error", "always"],
      "@typescript-eslint/no-explicit-any": ["error", {
          "fixToUnknown": true
      }],
      "@typescript-eslint/no-non-null-assertion": "off",
      "curly": "error"
    }
  }